.communityModal {
  width: 500px;
  position: fixed;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
  background: white;
  padding: 15px;
  border-radius: 5px;
}

.closeX {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
}
